[php]

// +----------------------------------------------------------------------
// | 生成器
// +----------------------------------------------------------------------
// | 说明。
// +----------------------------------------------------------------------
// | Author: Meetrice <meetrice@qq.com> <http://www.rc3cr.com>
// +----------------------------------------------------------------------
namespace app\{$moduledir}\controller;
use controller\BasicAdmin;
use service\DataService;
use service\NodeService;
use service\ToolsService;
use think\Db;

    class {$classname} extends BasicAdmin {

    public $table = '{$tbname}';

    /**
    * 列表
    */
    public function index() {
    {volist name="tableInfoArray" id="vo"}
            {assign name="fieldtype" value=":json_decode($vo['COLUMN_COMMENT'],true)[0]['type']"}
            {if condition="stripos($vo['COLUMN_COMMENT'], 'dict') gt 0"}
                {assign name="fielddict" value=":json_decode($vo['COLUMN_COMMENT'],true)[0]['dict']"}
                {if condition="strlen(trim($fielddict)) gt 0"}
            ${$fielddict}array=[];
            ${$fielddict}dicts=Db::name('dict')->where('type', '{$fielddict}')->field('dkey,dvalue')->select();
            foreach (${$fielddict}dicts as $vo) {
            ${$fielddict}array[$vo['dkey']] = $vo['dvalue'];
            }
            $this->assign('{$fielddict}dicts', ${$fielddict}array); //字典
                {/if}
            {/if}
    {/volist}
        $this->title = '管理{$tbcomment}';
        parent::_list($this->table);
    }
    /**
    * 添加
    */
    public function add() {

    {volist name="tableInfoArray" id="vo"}
        {assign name="fieldtype" value=":json_decode($vo['COLUMN_COMMENT'],true)[0]['type']"}
        {if condition="stripos($vo['COLUMN_COMMENT'], 'dict') gt 0"}
        {assign name="fielddict" value=":json_decode($vo['COLUMN_COMMENT'],true)[0]['dict']"}
            {if condition="strlen(trim($fielddict)) gt 0"}
        ${$fielddict}dicts=Db::name('dict')->where('type', '{$fielddict}')->field('dkey,dvalue')->select();
        $this->assign('{$fielddict}dicts', ${$fielddict}dicts); //字典
            {/if}
        {/if}
    {/volist}

        return $this->_form($this->table, 'form');
    }

    /**
    * 编辑
    */
    public function edit() {
    {volist name="tableInfoArray" id="vo"}
    {assign name="fieldtype" value=":json_decode($vo['COLUMN_COMMENT'],true)[0]['type']"}
    {if condition="stripos($vo['COLUMN_COMMENT'], 'dict') gt 0"}
    {assign name="fielddict" value=":json_decode($vo['COLUMN_COMMENT'],true)[0]['dict']"}
        {if condition="strlen(trim($fielddict)) gt 0"}
    ${$fielddict}dicts=Db::name('dict')->where('type', '{$fielddict}')->field('dkey,dvalue')->select();
    $this->assign('{$fielddict}dicts', ${$fielddict}dicts); //字典
        {/if}
    {/if}
    {/volist}
        return $this->_form($this->table, 'form');
    }


    /**
    * 删除
    */
    public function del() {
        if (DataService::update($this->table)) {
        $id = $this->request->post('id');
        Db::name($this->table)->where('id', $id)->delete();
        $this->success("{$tbcomment}删除成功！", '');
        }
        $this->error("{$tbcomment}删除失败，请稍候再试！");
    }


    /**
    * 禁用
    */
    public function forbid() {
        if (DataService::update($this->table)) {
        $this->success("{$tbcomment}禁用成功！", '');
        }
        $this->error("{$tbcomment}禁用失败，请稍候再试！");
    }

    /**
    * 恢复
    */
    public function resume() {
        if (DataService::update($this->table)) {
        $this->success("{$tbcomment}启用成功！", '');
        }
        $this->error("{$tbcomment}启用失败，请稍候再试！");
    }

    /**
    * 表单数据默认处理
    * @param array $data
    */
    public function _form_filter(&$data) {
        if ($this->request->isPost()) {


        {volist name="tableInfoArray" id="vo"}
            {assign name="fieldtype" value=":json_decode($vo['COLUMN_COMMENT'],true)[0]['type']"}
            {if condition="$fieldtype eq 'checkbox'"}
    if (isset($data['{$vo['COLUMN_NAME']}']) && is_array($data['{$vo['COLUMN_NAME']}'])) {
                $data['{$vo['COLUMN_NAME']}'] = join(',', $data['{$vo['COLUMN_NAME']}']);
                }
            {elseif condition="$fieldtype eq 'switch' " /}
    if(isset($data['{$vo['COLUMN_NAME']}']) && $data['{$vo['COLUMN_NAME']}']=='on'){
                    $data['{$vo['COLUMN_NAME']}']=1;
                }else{
                    $data['{$vo['COLUMN_NAME']}']=0;
                }
            {/if}
        {/volist}


        }
    }

}