{extend name="extra@admin/content"}

{block name="content"}
<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">
    <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">公众号名称  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="wxname" value='{$vo.wxname|default=""}'  title="请输入公众号名称" placeholder="请输入公众号名称" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">公众号原始ID  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="wxid" value='{$vo.wxid|default=""}'  title="请输入公众号原始ID" placeholder="请输入公众号原始ID" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">微信号  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="weixin" value='{$vo.weixin|default=""}'  title="请输入微信号" placeholder="请输入微信号" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">头像地址  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="headerpic" value='{$vo.headerpic|default=""}'  title="请输入头像地址" placeholder="请输入头像地址" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">TOKEN  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="token" value='{$vo.token|default=""}'  title="请输入TOKEN" placeholder="请输入TOKEN" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">省  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="province" value='{$vo.province|default=""}'  title="请输入省" placeholder="请输入省" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">市  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="city" value='{$vo.city|default=""}'  title="请输入市" placeholder="请输入市" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">公众号邮箱  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="qq" value='{$vo.qq|default=""}'  title="请输入公众号邮箱" placeholder="请输入公众号邮箱" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">微信粉丝  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="wxfans" value='{$vo.wxfans|default=""}'  title="请输入微信粉丝" placeholder="请输入微信粉丝" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">分类ID  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="typeid" value='{$vo.typeid|default=""}'  title="请输入分类ID" placeholder="请输入分类ID" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">分类名  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="typename" value='{$vo.typename|default=""}'  title="请输入分类名" placeholder="请输入分类名" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">默认首页模版ID  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="tpltypeid" value='{$vo.tpltypeid|default=""}'  title="请输入默认首页模版ID" placeholder="请输入默认首页模版ID" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">首页模版名  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="tpltypename" value='{$vo.tpltypename|default=""}'  title="请输入首页模版名" placeholder="请输入首页模版名" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">列表模版ID  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="tpllistid" value='{$vo.tpllistid|default=""}'  title="请输入列表模版ID" placeholder="请输入列表模版ID" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">列表模版名  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="tpllistname" value='{$vo.tpllistname|default=""}'  title="请输入列表模版名" placeholder="请输入列表模版名" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">内容模版ID  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="tplcontentid" value='{$vo.tplcontentid|default=""}'  title="请输入内容模版ID" placeholder="请输入内容模版ID" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">内容模版名  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="tplcontentname" value='{$vo.tplcontentname|default=""}'  title="请输入内容模版名" placeholder="请输入内容模版名" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">公众账号用户名  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="wxun" value='{$vo.wxun|default=""}'  title="请输入公众账号用户名" placeholder="请输入公众账号用户名" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">公众账号密码  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="wxpwd" value='{$vo.wxpwd|default=""}'  title="请输入公众账号密码" placeholder="请输入公众账号密码" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">是否绑定成功  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="binok" value='{$vo.binok|default=""}'  title="请输入是否绑定成功" placeholder="请输入是否绑定成功" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">商城模板id  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="shoptpltypeid" value='{$vo.shoptpltypeid|default=""}'  title="请输入商城模板id" placeholder="请输入商城模板id" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">商城模板模板名称  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="shoptpltypename" value='{$vo.shoptpltypename|default=""}'  title="请输入商城模板模板名称" placeholder="请输入商城模板模板名称" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="layui-form-item" style="">

        <label class="layui-form-label">网页授权token  </label>

        <div class="layui-input-block">

            <!--如果是下拉选框-->
                        <input  type="text" name="web_access_token" value='{$vo.web_access_token|default=""}'  title="请输入网页授权token" placeholder="请输入网页授权token" class="layui-input">
                    </div>
    </div>


        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
        <!--字段列头显示名称-->
        <!--是否必填-->
        <!--验证类型-->
        <!--字典名称-->
    

    <!--是否生成表单-->
    
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" lay-submit>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>
{/block}
{block name="script"}
<script>
    form.render();
</script>
{/block}