{extend name='erp@erp/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal='{:url("$classuri/add")}' data-title="添加汽车" class='layui-btn layui-btn-small'><i class='fa fa-plus'></i> 添加汽车</button>
    <button data-update data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除汽车</button>
</div>
{/block}

{block name="content"}
<div class="demo-container">
    <div id="gridContainer"></div>
</div>
{/block}
{block name='script'}
<script>

    require(['devexpress'], function () {


    $("#gridContainer").dxDataGrid({
        dataSource: "http://mipcms.rc3cr.com/admin/users?keywords=&page=1&limit=5",
        paging: {
            pageSize: 10
        },
        pager: {
            showPageSizeSelector: true,
            allowedPageSizes: [5, 10, 20],
            showInfo: true
        },
        columns: [{
            dataField: "username",
            caption: "用户名"
        }, "realname","s_name"]
    });


    });
</script>
{/block}