{extend name='extra@admin/content'}
{block name="content"}




<table class="table table-hover">
    <tr>
        <th class='list-table-check-td'>
            <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
        </th>

        <th class='text-center'>选择</th>
        <th class='text-center'>数据表</th>
        <th class='text-center'>操作</th>
    </tr>
{volist name="tables" id="vo"}
<tr>
    <td class='list-table-check-td'>
        <input  class="list-check-box" name="tables[]" value="<?php echo $vo[$table_k];?>" type="checkbox">
    </td>
    <td class='list-table-sort-td'>
    </td>
    <td class='text-center'><?php echo $vo[$table_k];?></td>
    <td  class='text-center'>
        <a data-update="<?php echo $vo[$table_k];?>" data-field='delete' data-action='{:url("$classuri/generate")}' href="javascript:void(0)">生成</a>
    </td>
</tr>
{/volist}
</table>






{/block}