{extend name='extra@admin/content'}
{block name="content"}


<div >
    <div class="col-md-3">


        <table class="table table-hover">
            <tr>
                <th class='list-table-check-td'>
                    <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
                </th>

                <th class='text-center'>数据表</th>
                <th class='text-center'>操作</th>
            </tr>
            {volist name="tables" id="vo"}
            <tr>
                <td class='list-table-check-td'>
                    <input class="list-check-box" name="tables[]" value="<?php echo $vo['TABLE_NAME'];?>" type="checkbox">
                </td>

                <td class='text-center'> <a data-open="{:url('index')}?table={$vo['TABLE_NAME']}"><?php echo $vo['TABLE_NAME'];?></a></td>
                <td class='text-center'>
                    <?php
if (strpos($vo['TABLE_COMMENT'], 'ex') == false) {
  ?>


                    <a data-update="<?php echo $vo['TABLE_NAME'];?>" data-field='delete'
                       data-action='{:url("$classuri/generate")}' href="javascript:void(0)">
                        生成
                    </a>
                    <?php
                    }
                    ?>
                </td>
            </tr>
            {/volist}
        </table>

    </div>


    <!--                                    右主面板开始                                          -->
    <div class="col-md-9">

        {if isset($info['Name'])}

        <form  action="{:url('savetable')}" data-auto="true" method="post">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">表名</label>
                <div class="layui-input-inline">
                    <input type="text" name="tablename" required="true"
                           value="<?php if(isset($info['Name'])) echo $info['Name'];?>" class="layui-input">
                    <input type="hidden" name="oname" value="<?php if(isset($info['Name'])) echo $info['Name'];?>">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">存储引擎</label>
                <div class="layui-input-inline">
                    <select class="layui-select full-width" name="engine" required="true">
                        {foreach $engine as $e}
                        <option value="{$e}"
                        <?php if(isset($info->Engine) && $info->Engine ==$e) echo 'selected';?> >{$e}</option>
                        {/foreach}
                    </select>

                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">注释</label>
                <div class="layui-input-inline">
                    <input type="text" name="comment" value="<?php if(isset($info['Comment'])) echo $info['Comment'];?>"  class="layui-input">
                    <input type="hidden" name="ocomname" value="<?php if(isset($info['Comment'])) echo $info['Comment'];?>">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 0px;">
                <button type="submit" class="layui-btn" lay-submit lay-filter="demo1">修改表名</button>
            </div>
        </div>


</form>
        <div style="clear:both;"></div>
        <hr/>


        <!--                                   表字段信息面板开始                                          -->

        <div class="table-responsive" style="background:#fff;">
            <table class="table table-striped" id="tables">
                <thead>
                <tr>

                    <th> 列名</th>
                    <th> 类型</th>
                    <th> 长度</th>
                    <th> 默认</th>

                    <th width="75">可空</th>
                    <th> 主键</th>
                    <th> 自增</th>
                    <th> 表头/Label</th>
                    <th> 表单类型</th>
                    <th> 是否必填</th>
                    <th> 验证类型</th>
                    <th> 字典名称</th>
                    <th> 列表显示</th>
                    <th> 表单显示</th>
                    <th width="75"> 操作</th>
                </tr>
                </thead>
                <tbody>
                {if count($columns) >=1}
                {foreach $columns as $column}
                <tr class="" id="field-{$column['Field']}">

                    <td>{$column['Field']}</td>
                    <td>
                        <?php
						$types = explode('(', $column['Type']);
                        preg_match("/\((.*)\)/i", $column['Type'],$typeVal);
                        $type = $types[0];
                        $length = (isset($typeVal[1]))?$typeVal[1]:'';
                        ?>
                        {$type}

                    </td>
                    <td>{$length}</td>
                    <td>
                        {$column['Default']}
                    </td>
                    <td>
                        {if $column['Null'] =='NO'}
                        <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&null=off">
                            <i class="text-danger fa fa-minus-circle"></i>
                        </a>
                        {else/}
                        <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&null=on">
                            <i class="text-success fa fa-check-circle"></i>
                        </a>
                        {/if}
                    </td>
                    <td>
                        {if $column['Key'] =='PRI'}
                        <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&key=off">
                            <i class="text-success fa fa-check-circle"></i>
                        </a>
                        {else/}
                        <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&key=on">
                            <i class="text-danger fa fa-minus-circle"></i>
                        </a>
                        {/if}
                    </td>
                    <td>
                        {if $column['Extra'] =='auto_increment'}
                        <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&ai=off">
                        <i class="text-success fa fa-check-circle"></i>
                        </a>
                        {else/}
                            <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&ai=on">
                        <i class="text-danger fa fa-minus-circle"></i>
                            </a>
                        {/if}
                    </td>
                    <!--表头列名-->
                    {assign name="displayname" value=":json_decode($column['Comment'],true)[0]['name']"}
                    <!--表单类型-->
                    {assign name="formtype" value=":json_decode($column['Comment'],true)[0]['type']"}
                    <!--是否必填-->
                    {if condition="stripos($column['Comment'], 'require') gt 0"}
                    {assign name="require" value=":json_decode($column['Comment'],true)[0]['require']"}
                    {else/}
                    {assign name="require" value="0"}
                    {/if}
                    <!--验证类型-->
                    {if condition="stripos($column['Comment'], 'validate') gt 0"}
                    {assign name="validate" value=":json_decode($column['Comment'],true)[0]['validate']"}
                    {else/}
                    {assign name="validate" value=""}
                    {/if}
                    <!--字典名称-->
                    {if condition="stripos($column['Comment'], 'dict') gt 0"}
                    {assign name="dict" value=":json_decode($column['Comment'],true)[0]['dict']"}
                    {else/}
                    {assign name="dict" value=""}
                    {/if}
                    <!--是否列表显示-->
                    {if condition="stripos($column['Comment'], 'isgrid') gt 0"}
                    {assign name="isgrid" value=":json_decode($column['Comment'],true)[0]['isgrid']"}
                    {else/}
                    {assign name="isgrid" value=""}
                    {/if}
                    <!--是否表单显示-->
                    {if condition="stripos($column['Comment'], 'isform') gt 0"}
                    {assign name="isform" value=":json_decode($column['Comment'],true)[0]['isform']"}
                    {else/}
                    {assign name="isform" value=""}
                    {/if}
                    
                    <td> <span class="text-explode">|</span>{$displayname}</td>
                    <td> <span class="text-explode">|</span>{$formtype}</td>
                    <td>
                        {if $require eq 1}
                        <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&require=off">
                            <i class="text-success fa fa-check-circle"></i></a>
                        {else/}
                        <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&require=on"><i class="text-danger fa fa-minus-circle"></i></a>
                        {/if}

                        </td>
                    <td> {$validate}</td>
                    <td> {$dict}</td>
                    <td>
                        {if $isgrid eq 1}
                        <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&isgrid=off">
                        <i class="text-success fa fa-check-circle"></i>
                        </a>
                        {else/}
                         <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&isgrid=on">
                        <i class="text-danger fa fa-minus-circle"></i>
                         </a>
                        {/if}
                    </td>
                    <td>
                        {if $isform eq 1}
                        <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&isform=off">
                        <i class="text-success fa fa-check-circle"></i>
                        </a>
                        {else/}
                            <a data-open="{:url('save')}?table={$tablename|default=''}&field={$column['Field']}&currentfield={$column['Field']}&type={$type}&length={$length}&comment={:urlencode($column['Comment'])}&isform=on">
                        <i class="text-danger fa fa-minus-circle"></i>
                         </a>
                        {/if}
                    </td>
                    <td>

                        <?php
                        $info = 'table='.$tablename.'&field='.$column['Field'].'&type='.$type.'&lenght='.$length.'&default='.$column['Default'].'&notnull='.$column['Null'].'&key='.$column['Key'].'&ai='.$column['Extra'].'&require='.$require.'&displayname='.$displayname.'&formtype='.$formtype.'&validate='.$validate.'&dict='.$dict.'&isgrid='.$isgrid.'&isform='.$isform;
?>
                        <a data-modal='{:url("$classuri/editcolumn")}?{$info}' href="javascript:void(0)" class="btn btn-xs btn-primary" ><i class="fa fa-edit "></i></a>

                        <a href="" rel="" class="removedField  btn btn-xs btn-danger"><i class="fa fa-minus"></i></a>
                    </td>

                </tr>
                {/foreach}

                {else/}


                {/if}
                </tbody>

            </table>

        </div>
        {/if}
        <hr />
        <?php
                        $newinfo = 'table='.$tablename;
?>
        <button class="layui-btn">
            <i class="layui-icon">&#xe608;</i>  <a data-modal='{:url("$classuri/editcolumn")}?{$newinfo}' href="javascript:void(0)" style="color: #fff;" >添加字段</a>
        </button>

    </div>
</div>


{/block}
